# Agent driver dependencies
requests>=2.32.3
pyyaml==6.0.2
python-dotenv==1.1.0

# Stratus agent dependencies
langchain>=0.3.25
langchain-litellm>=0.2.2
langchain-google-genai>=2.1.12
langgraph>=0.4.7
langsmith>=0.3.43
litellm>=1.91.0
boto3>=1.28.57
pandas==2.2.3
kubernetes==30.1.0
pydantic==2.11.5
rich==13.9.4
anthropic>=0.52.0
tiktoken>=0.8.0
nest-asyncio==1.6.0
fastmcp>=2.9.2
mcp[cli]>=1.9.1
