all:
  problems:
    faulty_image_correlated:
    - diagnosis
    - mitigation
    update_incompatible_correlated:
    - diagnosis
    - mitigation
    incorrect_image:
    - diagnosis
    - mitigation
    incorrect_port_assignment:
    - diagnosis
    - mitigation
    misconfig_app_hotel_res:
    - diagnosis
    - mitigation
    missing_env_variable_astronomy_shop:
    - diagnosis
    - mitigation
    revoke_auth_mongodb-1:
    - diagnosis
    - mitigation
    revoke_auth_mongodb-2:
    - diagnosis
    - mitigation
    storage_user_unregistered-1:
    - diagnosis
    - mitigation
    storage_user_unregistered-2:
    - diagnosis
    - mitigation
    valkey_auth_disruption:
    - diagnosis
    - mitigation
    valkey_memory_disruption:
    - diagnosis
    - mitigation
    capacity_decrease_rpc_retry_storm:
    - diagnosis
    - mitigation
    gc_capacity_degradation:
    - diagnosis
    - mitigation
    load_spike_rpc_retry_storm:
    - diagnosis
    - mitigation
    assign_to_non_existent_node:
    - diagnosis
    - mitigation
    auth_miss_mongodb:
    - diagnosis
    - mitigation
    configmap_drift_hotel_reservation:
    - diagnosis
    - mitigation
    feature_flag_latent_bug_hotel_reservation:
    - diagnosis
    - mitigation
    duplicate_pvc_mounts_astronomy_shop:
    - diagnosis
    - mitigation
    duplicate_pvc_mounts_hotel_reservation:
    - diagnosis
    - mitigation
    duplicate_pvc_mounts_social_network:
    - diagnosis
    - mitigation
    env_variable_shadowing_astronomy_shop:
    - diagnosis
    - mitigation
    k8s_target_port-misconfig:
    - diagnosis
    - mitigation
    liveness_probe_misconfiguration_astronomy_shop:
    - diagnosis
    - mitigation
    liveness_probe_misconfiguration_hotel_reservation:
    - diagnosis
    - mitigation
    liveness_probe_misconfiguration_social_network:
    - diagnosis
    - mitigation
    liveness_probe_too_aggressive_astronomy_shop:
    - diagnosis
    - mitigation
    liveness_probe_too_aggressive_hotel_reservation:
    - diagnosis
    - mitigation
    liveness_probe_too_aggressive_social_network:
    - diagnosis
    - mitigation
    missing_configmap_hotel_reservation:
    - diagnosis
    - mitigation
    missing_configmap_social_network:
    - diagnosis
    - mitigation
    missing_service_astronomy_shop:
    - diagnosis
    - mitigation
    missing_service_hotel_reservation:
    - diagnosis
    - mitigation
    missing_service_social_network:
    - diagnosis
    - mitigation
    namespace_memory_limit:
    - diagnosis
    - mitigation
    pod_anti_affinity_deadlock:
    - diagnosis
    - mitigation
    persistent_volume_affinity_violation:
    - diagnosis
    - mitigation
    pvc_claim_mismatch:
    - diagnosis
    - mitigation
    rbac_misconfiguration:
    - diagnosis
    - mitigation
    readiness_probe_misconfiguration_astronomy_shop:
    - diagnosis
    - mitigation
    readiness_probe_misconfiguration_hotel_reservation:
    - diagnosis
    - mitigation
    readiness_probe_misconfiguration_social_network:
    - diagnosis
    - mitigation
    resource_request_too_large:
    - diagnosis
    - mitigation
    resource_request_too_small:
    - diagnosis
    - mitigation
    rolling_update_misconfigured_hotel_reservation:
    - diagnosis
    - mitigation
    rolling_update_misconfigured_social_network:
    - diagnosis
    - mitigation
    scale_pod_zero_social_net:
    - diagnosis
    - mitigation
    service_dns_resolution_failure_astronomy_shop:
    - diagnosis
    - mitigation
    service_dns_resolution_failure_social_network:
    - diagnosis
    - mitigation
    sidecar_port_conflict_astronomy_shop:
    - diagnosis
    - mitigation
    sidecar_port_conflict_hotel_reservation:
    - diagnosis
    - mitigation
    sidecar_port_conflict_social_network:
    - diagnosis
    - mitigation
    stale_coredns_config_astronomy_shop:
    - diagnosis
    - mitigation
    stale_coredns_config_social_network:
    - diagnosis
    - mitigation
    taint_no_toleration_social_network:
    - diagnosis
    - mitigation
    wrong_bin_usage:
    - diagnosis
    - mitigation
    wrong_dns_policy_astronomy_shop:
    - diagnosis
    - mitigation
    wrong_dns_policy_hotel_reservation:
    - diagnosis
    - mitigation
    wrong_dns_policy_social_network:
    - diagnosis
    - mitigation
    service_wrong_pod_selection_hotel_reservation:
    - diagnosis
    - mitigation
    wrong_service_selector_astronomy_shop:
    - diagnosis
    - mitigation
    wrong_service_selector_hotel_reservation:
    - diagnosis
    - mitigation
    wrong_service_selector_social_network:
    - diagnosis
    - mitigation
    astronomy_shop_ad_service_failure:
    - diagnosis
    - mitigation
    astronomy_shop_ad_service_high_cpu:
    - diagnosis
    - mitigation
    astronomy_shop_ad_service_manual_gc:
    - diagnosis
    - mitigation
    astronomy_shop_cart_service_failure:
    - diagnosis
    - mitigation
    astronomy_shop_ad_service_image_slow_load:
    - diagnosis
    - mitigation
    astronomy_shop_payment_service_failure:
    - diagnosis
    - mitigation
    astronomy_shop_payment_service_unreachable:
    - diagnosis
    - mitigation
    astronomy_shop_product_catalog_service_failure:
    - diagnosis
    - mitigation
    astronomy_shop_recommendation_service_cache_failure:
    - diagnosis
    - mitigation
    kafka_queue_problems_hotel_reservation:
    - diagnosis
    - mitigation
    kafka_producer_leak:
    - diagnosis
    - mitigation
    loadgenerator_flood_homepage:
    - diagnosis
    - mitigation
    trainticket_f17_nested_sql_select_clause_error:
    - diagnosis
    - mitigation
    trainticket_f22_sql_column_name_mismatch_error:
    - diagnosis
    - mitigation
    read_error:
    - diagnosis
    - mitigation
    ingress_misroute:
    - diagnosis
    - mitigation
    network_policy_block:
    - diagnosis
    - mitigation
    node_conntrack_exhaustion_hotel_reservation:
    - diagnosis
    - mitigation
    dev_shm_exhaustion_hotel_reservation:
    - diagnosis
    - mitigation
    social_net_hotel_res_astro_shop_concurrent_failures:
    - diagnosis
    - mitigation
    kubelet_crash:
    - diagnosis
    - mitigation
    workload_imbalance:
    - diagnosis
    - mitigation
    operator_overload_replicas:
    - diagnosis
    - mitigation
    operator_non_existent_storage:
    - diagnosis
    - mitigation
    operator_invalid_affinity_toleration:
    - diagnosis
    - mitigation
    operator_security_context_fault:
    - diagnosis
    - mitigation
    operator_wrong_update_strategy_fault:
    - diagnosis
    - mitigation
